{% extends "app/layout.html" %}

{% block content %}

{% if not user.is_authenticated %}
<br />

<a  class="btn btn-info"  href="/"> Please Log in to view content</a>

{% else %}



<div class="jumbotron">
    <div class="col-md-offset-10 col-md-2">
        <a href="/logout" class="btn btn-info" >Logout</a>
     </div>
     <h3><strong>Select a date from dropdown list and hit VIEW button for the news</strong> </h3>
    <div class="ui-widget">  
    <h3><select id="drop"  name="dropdown">
    <option value="">select a date</option>
    <option value="9">09-01-2017</option>
    <option value="10">10-01-2017</option>
    <option value="11">11-01-2017</option>
    <option value="12">12-01-2017</option>
    <option value="13">13-01-2017</option>
    </select></h3>
    </div>
    <p><a  class="btn btn-primary btn-large"  onclick="articleUrl()">VIEW &raquo;</a></p>
    
</div>


{% endif %}


{% endblock %}



{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/JavaScript1.js' %}"></script>
<script src="{% static 'app/scripts/query.simplePagination.js' %}"></script>
<script type="text/javascript">
    
    
    function articleUrl(){
        var date=$("#drop").val();
        window.location =  "{% url 'get_news' day='0' %}".replace('0',date);
    }

   
</script>

{% endblock %}

